{% assign collection = site.data.courses %}
{% include lists/filtered-list.html %}

{% if filtered.size > 0 %}
<div class="row courses">
{% if layout.embedded_lists %}
<h4 class="col mt-2"><a class="section-header-link" href="{{ 'courses' | relative_url }}">
    Courses
    <i class="fa fa-caret-right" style="font-size: 0.8em;"></i>
</a></h4>
{% endif %}

{% for course in filtered %}
    <div class="{% if page.layout == 'courses' %}col-xl-6{% else %}col-12{% endif %}">
    {% include cards/course-card.html %}
    </div>
{% endfor %}

</div>
{% endif %}